$SkyBlueColor: #0099ff
header
  color: whitesmoke
  font-size: 26px

//Бургер меню
.active-menu
  overflow: hidden
.burger-menus
  padding: 100px 0 0 0
  z-index: 10
  position: fixed
  transition: 1s
  top: 0
  width: 300px
  height: 100%
  left: -300px
  background: #333
.burger-menu-button
  margin: 0 0 0 250px
.burger-menus-active
  left: 0px
.overlay
  display: none
  z-index: 9
  position: fixed
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  background: rgba(0,0,0,0.4);
.overlay-active
  display: block

//Header стили
.list-links
  display: flex
  flex-direction: column
.list-links p
  padding: 20px
  border-bottom: 1px solid #222 
  margin: 10px 20px
.list-links p:hover
  background: #444
  transition: .8s
.logo
  padding: 0 0 0 30px
  font-size: 23px
  display: flex
  align-items: center
.logo h2
  margin: 0
.logo:hover .logo-item
  transition: .3s
  color: $SkyBlueColor
.nav-items
  margin: 0
  color: whitesmoke
.nav-items:hover
  transition: .3s
  color: $SkyBlueColor
.nav-items.icons
  font-size: 30px
h4.nav-items
  padding: 0 10px
.nav-items h4:hover
  transition: .3s
  color: $SkyBlueColor

//Брейк-поинты
@media (max-width: 640px)
  h4.nav-items
    display: none
@media (max-width: 400px)
  .icons
    display: none
  .burger-menus
    width: 250px
  .burger-menu-button
    margin: 0 0 0 200px
