main
  padding: 70px 0 0 0
.carousel__img
  height: 175px
.main-page__header
  text-align: center
  font-weight: 300
  font-size: 22px
@media (min-width: 400px)
  main
    padding: 90px 0 0 0
  .main-page__header
    font-size: 26px
  .carousel__img
    height: 245px
@media (min-width: 576px)
  .carousel__img
    height: 300px
  .main-page__header
    font-size: 30px
@media (min-width: 768px)
  .carousel__img
    height: 350px
  .main-page__header
    font-size: 34px
@media (min-width: 992px)
  .carousel__img
    height: 450px
  .main-page__header
    font-size: 38px
@media (min-width: 1200px)
  .carousel__img
    height: 550px
  .main-page__header
    font-size: 40px